html, body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, sans-serif;
  background-image: url("../img/matrix.gif");
}

#numShifts {
    margin-top: 1.5rem;
}

#footerSpan{
    font-size: 1.5rem;
}

.resultHolder {
    text-align: center;
    background-color: #EEE;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 2.5rem;
    font-family: Ubuntu, Trebuchet, sans-serif;
    font-size: 4rem;
}

.byte {
}

.bit {
    font-size: 1.5rem;
}

.nibble {
    text-align: right;
}

.nibble:nth-child(2n){
    text-align: left;
}

.actionButton{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttonHolder {
    text-align: center;
}

@media only screen and (max-width: 40em) { 
    .nibble{
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .nibble:nth-child(2n){
        text-align: center;
        margin-bottom: 0rem;
    }

    .bit{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nibble.unselectable{
    cursor:default;
}

span.unselectable{
    cursor:default;
}